
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.main-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
  padding: 1rem; 
  background-color: aquamarine;
}

h1, h2 {
  color: #d8e2ec;
}

.page-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}